body{
    background-color:#3cdde6;
}
#score{
    font-size: 25px;
    float:right;
    margin-right:70px;
    font-weight: bold;
}
#time{
    font-size: 25px;
    float:left;
    margin-left:30px;
    font-weight: bold;
}
#sketch{
    color:#d9c80b;
}
h1
{
  font-family: 'Special Elite', fantasy;
  color:rgb(38, 0, 255);
  background-color: cornsilk;
}
#show_sketch{
    float:right;
}
p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
    
  }